@import './base.css';

 #app {
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
  

}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}


@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    background-color: #344E41;
  }

  #app {
    display: flex; 
    flex-direction: column; 
    padding: 0 2rem;
  }
} 

